/*屏蔽一些广告的展示*/
.c_c2,
.c_c1,
.main .right[style*="width:300px;"] img,
/*大区*/
.main .left div[style="margin-top:20px;"],
.main .new_w div[style="margin-top:20px;"],
div[style*="height:100px;margin:auto;"],
.main .right div[style*="margin-top:16px;"] {
  display: none;
}
.main .right .index_zt_pos img{
  display: block;
}